<style>
    h1 {
    color: black; 
    padding-left: 50px;
    padding: 20px;
    }
    .flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    }
    a {
    color: black;
    text-decoration: none;
    display: flex;
    align-self: auto;
    }
    div h2 {
        color:rgb(15, 0, 83);
        padding: 20px;
        font-size: 70px;
    }
</style>
    <h1>Apie Mus</h1>
    <div>
     <h2>    
        {{{random}}}
     </h2>
    </div>