<style>
    h1 {
    color: black; 
    padding-left: 50px;
    padding: 20px;
    }
    a {
    color: black;
    text-decoration: none;
    display: flex;
    align-self: auto;
    }
</style>
<h1>Kontaktai</h1>
